<html>
    <%- include('./partials/head.ejs') %>
    <body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Pokem ipsum dolor sit amet Tranquill Loudred Donphan Luxio Teleport Bayleef. Sunt in culpa Tentacruel Taillow Mienshao Rotom Giratina Pineco. Mirror Move Whimsicott Phanpy Carvanha Houndoom Grass Shellder. Qui officia deserunt mollit Leech Seed Grumpig Teddiursa Flaaffy Mew Ho-oh. Hoenn Pansear Lombre Growlithe Treecko Hoppip Misty.</p>
        <p>Pokem ipsum dolor sit amet Tranquill Loudred Donphan Luxio Teleport Bayleef. Sunt in culpa Tentacruel Taillow Mienshao Rotom Giratina Pineco. Mirror Move Whimsicott Phanpy Carvanha Houndoom Grass Shellder. Qui officia deserunt mollit Leech Seed Grumpig Teddiursa Flaaffy Mew Ho-oh. Hoenn Pansear Lombre Growlithe Treecko Hoppip Misty.</p>
        <p>Pokem ipsum dolor sit amet Tranquill Loudred Donphan Luxio Teleport Bayleef. Sunt in culpa Tentacruel Taillow Mienshao Rotom Giratina Pineco. Mirror Move Whimsicott Phanpy Carvanha Houndoom Grass Shellder. Qui officia deserunt mollit Leech Seed Grumpig Teddiursa Flaaffy Mew Ho-oh. Hoenn Pansear Lombre Growlithe Treecko Hoppip Misty.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

    </body>

</html>